-- Fantasy12
-- Migration v1.5 — Subscription Recorrente
-- Incremental / Safe

ALTER TABLE "subscriptions"
ADD COLUMN IF NOT EXISTS "provider" TEXT,
ADD COLUMN IF NOT EXISTS "externalSubscriptionId" TEXT,
ADD COLUMN IF NOT EXISTS "externalCustomerId" TEXT;
